html {
    background-color: #bcc9d9;
}

/* POPUP WRONG KEY */
#popupWrongKey {
    position: absolute;
    display: none;
    opacity: 0;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgb(126,0,0,0.5);
    background: radial-gradient(circle, rgba(155, 0, 0, 0.7) 0%, rgba(255, 97, 97, 0.5) 100%);
}
#wrongKey {
    margin:auto;
    width: 3ch;
    height: 3ch;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, .8);
    color: #ffffff;
    background: #3b0205;
    border-radius:20px;
    text-shadow: 0px 0px 40px #ffffff, 0px 0px 80px #ffffff;
    text-align: center;
    font-size:20ch;
    display: flex;
}
#wrongKeyValue {
    margin:auto;
    padding-bottom: 5px;
}




#mainTitle {
    text-align: center;
    color:#56203d;
}


#sudokuGrid div.cell {
    height: 3ch;
    width: 3ch;
    text-align: center;
    font-size: x-large;
    background-color: #f0E7d8;
    border: 0px solid #9f191f;
    outline: 0;
    transition: box-shadow 0.4s;
    display: flex;
    flex-direction: column;
}

/* Not a button anymore. Remove ? */
#sudokuGrid div.cell:focus {
    box-shadow: inset 2px 2px #56203d;
}

#sudokuGrid div:not(.row1):not(.row4):not(.row7) > div.cell {
    border-top-width: 3px;
}
#sudokuGrid div > div.cell:not(:first-child) {
    border-left-width: 3px;
}

#sudokuGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxRow {
    display:flex;
}

.box {
    display: flex;
    flex-direction: column;
}

.line {
    background-color: #56203d;
    min-width: 5px;
    min-height: 5px;
}

.row {
    display: flex;
}

.cell.focused {
    background-color: #56203d94!important;
}

#bottomButtons, #buttonsTypingModes {
    width: 100%; 
    display: flex;    
}

#bottomButtons button, #buttonsTypingModes button {
    font-size: large;
    padding: 10px;
    background-color: #f0E7d8;
    border-color: #56203d;
    color: #56203d;
    border-radius: 4px;
}

#buttonsTypingModes button {
    margin: 15px;
}

#bottomButtons button {
    margin: 15px;
    margin-top: 0px;
}

button:hover {
    background-color: #9f191f!important;
}

button:active {
    background-color: #3b0205!important;
}

.active-button {
    background-color: #56203d!important;
}

.main {

}

.hidden {
    display: none;
}

.upper-note {
    font-size: x-small;
    text-align: left;
    position: absolute;
}

.middle-note {
    font-size: x-small;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


#bottomButtons button:first-child, #buttonsTypingModes button:first-child {
    margin-left: auto; 
}

#bottomButtons button:last-child, #buttonsTypingModes button:last-child {
    margin-right:auto  
}

.valid-value {
    color: #56203d;
}

.invalid-value {
    color: #9f191f;
    background-color: color-mix(in lch, #f0E7d8,#9f191f 40%)!important;
}